In [31]:
#IMPORT DEPENDENCIES
import pandas as pd
from sqlalchemy import create_engine
from config import sqlpassword

In [32]:
#IMPORT CSV
movies_metadata_file = "Resources/movies_metadata.csv"
movies_metadata_df = pd.read_csv(movies_metadata_file)
movies_metadata_df

C:\Users\bthuy\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [33]:
#LIST COLOUMNS
list(movies_metadata_df)

['adult',
 'belongs_to_collection',
 'budget',
 'genres',
 'homepage',
 'id',
 'imdb_id',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'poster_path',
 'production_companies',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'video',
 'vote_average',
 'vote_count']

In [34]:
#FILTER OUT COLOUMNS
movies_metadata_cols = [
 'imdb_id',
 'original_language',
 'tagline',
'overview'
]

movies_metadata_final = movies_metadata_df[movies_metadata_cols].copy()

movies_metadata_final

,imdb_id,original_language,tagline,overview
0,tt0114709,en,NaN,"Led by Woody, Andy's toys live happily in his ..."
1,tt0113497,en,Roll the dice and unleash the excitement!,When siblings Judy and Peter discover an encha...
2,tt0113228,en,Still Yelling. Still Fighting. Still Ready for...,A family wedding reignites the ancient feud be...
3,tt0114885,en,Friends are the people who let you be yourself...,"Cheated on, mistreated and stepped on, the wom..."
4,tt0113041,en,Just When His World Is Back To Normal... He's ...,Just when George Banks has recovered from his ...
...,...,...,...,...
45461,tt6209470,fa,Rising and falling between a man and woman,Rising and falling between a man and woman.
45462,tt2028550,tl,NaN,An artist struggles to finish his work while a...
45463,tt0303758,en,A deadly game of wits.,"When one of her hits goes wrong, a professiona..."
45464,tt0008536,en,NaN,"In a small town live two brothers, one a minis..."
45465,tt6980792,en,NaN,50 years after decriminalisation of homosexual...

In [35]:
#IMPORT CSV
imdb_file = "Resources/imdb.csv"
imdb_df = pd.read_csv(imdb_file)
imdb_df

C:\Users\bthuy\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

In [38]:
#FILTER THEN RENAME COLOUMNS
imdb_cols = [
'imdb_title_id',
'original_title',
'year',
'date_published',
'genre',
'duration',
'country',
'language',
'director',
'writer',
'actors',
'avg_vote',
'votes'
]

imdb_final = imdb_df[imdb_cols].copy()

imdb_final = imdb_final.rename(columns={ 
'imdb_title_id':'imdb_id',
 'original_title':'movie_title',
 'avg_vote': 'imdb_avg_vote',
'votes':'imdb_vote_count',
'duration':'runtime'
})

In [39]:
imdb_final

,imdb_id,movie_title,year,date_published,genre,runtime,country,language,director,writer,actors,imdb_avg_vote,imdb_vote_count
0,tt0000009,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,"Blanche Bayliss, William Courtenay, Chauncey D...",5.9,154
1,tt0000574,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",6.1,589
2,tt0001892,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini","Asta Nielsen, Valdemar Psilander, Gunnar Helse...",5.8,188
3,tt0002101,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",5.2,446
4,tt0002130,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",7.0,2237
...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,"Alexandre Coquelle, Matthieu Le Naour","Dany Boon, Philippe Katerine, Anne Serra, Samu...",5.3,398
85851,tt9911196,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,"Radek Bajgar, Herman Finkers","Herman Finkers, Johanna ter Steege, Leonie ter...",7.7,724
85852,tt9911774,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,"Vineesh Aaradya, Vineesh Aaradya","Anoop Chandran, Indrans, Sona Nair, Simon Brit...",7.9,265
85853,tt9914286,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,"Ahmet Faik Akinci, Kasim Uçkan","Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",6.4,194
85854,tt9914942,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,"Coral Cruz, Pep Puig","Maria Morera Colomer, Biel Rossell Pelfort, Is...",6.7,102

In [40]:
#MERGE THE TWO IMDB DATASETS
combined_imdb = pd.merge(imdb_final, movies_metadata_final, on='imdb_id', how="left")
combined_imdb

,imdb_id,movie_title,year,date_published,genre,runtime,country,language,director,writer,actors,imdb_avg_vote,imdb_vote_count,original_language,tagline,overview
0,tt0000009,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,"Blanche Bayliss, William Courtenay, Chauncey D...",5.9,154,NaN,NaN,NaN
1,tt0000574,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",6.1,589,en,"The Most Sensational, The Most Thrilling and I...",Just as Fritz Lang’s Metropolis (1927) is test...
2,tt0001892,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini","Asta Nielsen, Valdemar Psilander, Gunnar Helse...",5.8,188,NaN,NaN,NaN
3,tt0002101,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",5.2,446,en,NaN,The fabled queen of Egypt's affair with Roman ...
4,tt0002130,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",7.0,2237,it,NaN,Loosely adapted from Dante's Divine Comedy and...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85875,tt9908390,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,"Alexandre Coquelle, Matthieu Le Naour","Dany Boon, Philippe Katerine, Anne Serra, Samu...",5.3,398,NaN,NaN,NaN
85876,tt9911196,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,"Radek Bajgar, Herman Finkers","Herman Finkers, Johanna ter Steege, Leonie ter...",7.7,724,NaN,NaN,NaN
85877,tt9911774,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,"Vineesh Aaradya, Vineesh Aaradya","Anoop Chandran, Indrans, Sona Nair, Simon Brit...",7.9,265,NaN,NaN,NaN
85878,tt9914286,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,"Ahmet Faik Akinci, Kasim Uçkan","Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",6.4,194,NaN,NaN,NaN
85879,tt9914942,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,"Coral Cruz, Pep Puig","Maria Morera Colomer, Biel Rossell Pelfort, Is...",6.7,102,NaN,NaN,NaN

In [41]:
#IMPORT CSV
rottentomatoes_file = "Resources/rottentomatoes.csv"
rottentomatoes_df = pd.read_csv(rottentomatoes_file)
rottentomatoes_df

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,content_rating,genres,directors,authors,actors,original_release_date,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,...,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76
1,m/0878835,Please Give,Kate (Catherine Keener) and her husband Alex (...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,...,Sony Pictures Classics,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19
2,m/10,10,"A successful, middle-aged Hollywood songwriter...",Blake Edwards' bawdy comedy may not score a pe...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,...,Waner Bros.,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8
3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Following the closing arguments in a murder tr...,Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,...,Criterion Collection,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","In 1866, Professor Pierre M. Aronnax (Paul Luk...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,...,Disney,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17707,m/zoot_suit,Zoot Suit,Mexican-American gangster Henry Reyna (Daniel ...,NaN,R,"Drama, Musical & Performing Arts",Luis Valdez,Luis Valdez,"Daniel Valdez, Edward James Olmos, Charles Aid...",1981-10-02,...,MCA Universal Home Video,Rotten,56.0,9.0,Upright,74.0,1195.0,2,5,4
17708,m/zootopia,Zootopia,From the largest elephant to the smallest shre...,The brilliantly well-rounded Zootopia offers a...,PG,"Action & Adventure, Animation, Comedy","Byron Howard, Rich Moore, Jared Bush","Jared Bush, Phil Johnston","J.K. Simmons, Kristen Bell, Octavia Spencer, A...",2016-03-04,...,Walt Disney Animation Studios,Certified-Fresh,98.0,291.0,Upright,92.0,101511.0,50,285,7
17709,m/zorba_the_greek,Zorba the Greek,Traveling to inspect an abandoned mine his fat...,NaN,NR,"Action & Adventure, Art House & International,...",NaN,NaN,"Anthony Quinn, Alan Bates, Irene Papas, Lila K...",1964-12-17,...,Fox,Fresh,80.0,10.0,Upright,86.0,7146.0,0,8,2
17710,m/zulu,Zulu,"In 1879, the Zulu nation hands colonial Britis...",Zulu patiently establishes a cast of colorful ...,PG,"Classics, Drama","Cy Endfield, Cyril Endfield","Cy Endfield, John Prebble","Stanley Baker, Jack Hawkins, Ulla Jacobsson, J...",1964-06-17,...,Paramount Pictures,Fresh,96.0,23.0,Upright,91.0,30193.0,6,22,1
17711,m/zulu_dawn,Zulu Dawn,Sir Henry Bartle Frere's (John Mills) vastly o...,NaN,PG,"Action & Adventure, Art House & International,...",Douglas Hickox,"Cy Endfield, Anthony Storey","Burt Lancaster, Peter O'Toole, Simon Ward, Joh...",1979-12-14,...,Tango Entertainment,Rotten,50.0,8.0,Upright,62.0,4469.0,0,4,4

In [42]:
#LIST COLOUMNS
list(rottentomatoes_df)

['rotten_tomatoes_link',
 'movie_title',
 'movie_info',
 'critics_consensus',
 'content_rating',
 'genres',
 'directors',
 'authors',
 'actors',
 'original_release_date',
 'streaming_release_date',
 'runtime',
 'production_company',
 'tomatometer_status',
 'tomatometer_rating',
 'tomatometer_count',
 'audience_status',
 'audience_rating',
 'audience_count',
 'tomatometer_top_critics_count',
 'tomatometer_fresh_critics_count',
 'tomatometer_rotten_critics_count']

In [43]:
#FILTER THEN RENAME COLOUMNS
rottentomatoes_cols = [
 'movie_title',
 'critics_consensus',
 'content_rating',
 'genres',
'directors',
 'production_company',
 'tomatometer_rating',
 'tomatometer_count',
 'audience_rating',
 'audience_count',
  'runtime'  
]

rottentomatoes_final = rottentomatoes_df[rottentomatoes_cols].copy()


rottentomatoes_final = rottentomatoes_final.rename(columns={ 
    'directors':'director',
 'tomatometer_rating': 'rottentomatoes_critic_rating',
    'tomatometer_count':'rottentomatoes_critic_count',
 'audience_rating': 'rottentomatoes_audience_rating',
'audience_count': 'rottentomatoes_audience_count'
})

In [44]:
list(rottentomatoes_final)

['movie_title',
 'critics_consensus',
 'content_rating',
 'genres',
 'director',
 'production_company',
 'rottentomatoes_critic_rating',
 'rottentomatoes_critic_count',
 'rottentomatoes_audience_rating',
 'rottentomatoes_audience_count',
 'runtime']

In [45]:
#CREATE AND SET INDEX
rottentomatoes_final.reset_index(inplace=True)

rottentomatoes_final = rottentomatoes_final.rename(columns={ 
 'index':"id"
})

In [46]:
#CREATE AND SET INDEX
combined_imdb.reset_index(inplace=True)

combined_imdb = combined_imdb.rename(columns={ 
 'index':"id"
})

In [47]:
#CHECK DATA TYPES
rottentomatoes_final.dtypes

id                                  int64
movie_title                        object
critics_consensus                  object
content_rating                     object
genres                             object
director                           object
production_company                 object
rottentomatoes_critic_rating      float64
rottentomatoes_critic_count       float64
rottentomatoes_audience_rating    float64
rottentomatoes_audience_count     float64
runtime                           float64
dtype: object

In [48]:
#CHECK DATA TYPES
combined_imdb.dtypes

id                     int64
imdb_id               object
movie_title           object
year                  object
date_published        object
genre                 object
runtime                int64
country               object
language              object
director              object
writer                object
actors                object
imdb_avg_vote        float64
imdb_vote_count        int64
original_language     object
tagline               object
overview              object
dtype: object

In [49]:
#CREATE ENGINE
engine = create_engine(f"postgresql://postgres:{sqlpassword}@localhost:5432/movies_db2")

In [50]:
#TEST/CALL ENGINE TABLE NAMES
engine.table_names()

['imdb', 'rottentomatoes']

In [51]:
#LOAD DATA INTO POSTGRESQL
combined_imdb.to_sql(name='imdb', con=engine, if_exists='append', index=False)

In [52]:
#LOAD DATA INTO POSTGRESQL
rottentomatoes_final.to_sql(name='rottentomatoes', con=engine, if_exists='append', index=False)